<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Userinfo</title>
</head>
<body>
    <h1>Данные по юзеру <%- user.login %></h1>

    <p>_id: <%- user._id %></p>
    <p>Имя: <%- user.first_name %></p>
    <p>Фамилия: <%- user.last_name %></p>
    <p>О юзере: <%- user.about %></p>
    <p>Дата создания: <%- user.created %></p>
    <p>Хешированный пароль: <%- user.hashedPassword %></p>
    <p>"Соль": <%- user.salt %></p>
    <p>__v: <%- user.__v %></p>

</body>
</html>